* { box-sizing: border-box; }

body {
	background-image: url(/Portfolio/img/yuri_v_vader.jpg);
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	
}

header{
	background-color: #b3002d;
	height: 150px;
	background-image: url(/Portfolio/img/logo.jpg);
	background-repeat: no-repeat
}

h1 {
	padding-top: 30px;
	padding-left: 220px;
	font-size: 3em;

}

nav {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	text-decoration: none;
	float: left; 
	width: 200px;
	
}

nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }
nav ul { list-style-type: none; padding-left: 0px; }

footer {
	background-color: #b3002d;
	font-size: small;
	padding-bottom: 10px;
	border-top-style: solid;
	border-top-color: #003366;
	color: black
}

h4 {
	background-color: #800020;
	font-size: 1.2em;
	padding-left: 10px; 
	padding-bottom: 0px;
	border-bottom: 2px solid #003366;
	text-transform: uppercase; 
	clear: left;
}

main { 
	padding: 0px 0px 2em 0px;
	margin-left: 250px;
	background-color: #c0c0c0; 
	
}

main h2, main h3, main h4, main p, main div, main ul, main dl { padding-left: 3em; padding-right: 2em; }
header, nav, main, footer { display: block; }

img {
	padding-left: 10px;
	padding-right: 10px;
	
}

table { width: 90%;
	  margin: auto;
	  border-spacing: 0;
	  background-color: #d1d1d1; }
	  
td, th { padding: 10px; }

tr:nth-of-type(odd) { background-color: #a3a3a3; }

form {
	padding: 2em;
}

label {
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 1em;
}

input, textarea {
	display: block;
	margin-bottom: 1em;
}

audio {
	display: block;
	margin-top: 1em;
}




.details {
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}

.floatleft { 
	float: left; 
	padding: 0px 20px 20px 0px; 
}

.item {
	background-color: #FAF9F7;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 3em;
	margin-right: 3em;
	width: 80%;
	padding: 1em;
	overflow: auto;
	
}

#wrapper {
	background-color: #003366;
	min-width: 900px;
	max-width: 1280px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 3px;
}

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

#mySubmit {
	margin-left: 9.5em;
}

@media only screen and (max-width: 1024px) {
	body {
		margin: 0;
		background-image: url(/Portfolio/img/logo.jpg);
	}
	
	#wrapper {
		width: auto;
		min-width: 0;
		margin: 0;
		box-shadow: none;
	}
	
	header {
		border-bottom-style: solid;
		border-bottom-color: #FEF6C2;
		border-bottom-width: 5px
	}
	
	h1 {
		margin-top: 0;
		margin-bottom: 1em;
		padding-bottom: 1em;
		padding-top: 1em;
		font-size: 2.5em;
	}
	
	nav {
		float: none;
		width: auto;
		padding-top: 0;
		margin: 10px;
		font-size: 1.3em;
	}
	
	nav li {
		display: inline-block;
	}
	
	nav a {
		padding: 1em;
		width: 8em;
		font-weight: bold;
		border-bottom-style: none;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	#heroroad {
		margin: 0;
		padding: 0;
	}

	#heromugs {
		margin: 0;
		padding: 0;
	}

	#heroguitar {
		margin: 0;
		padding: 0;
	}
	
	main {
		margin: 0;
		font-size: 90%;
	}
}

@media only screen and (max-width: 768px) {

	header {
		height: 128px;
		background-image: url(/Portfolio/img/logo.jpg);
	}
	
	h1 {
		font-size: 2em;
		text-align: center;
		padding-left: 0;
	}
	
	nav {
		margin: 0;
	}
	
	nav a {
		display: block;
		padding: 0.2em;
		width: auto;
		border-bottom: 1px;
		border-bottom-color: #FEF6C2;
	}
	
	nav li {
		display: block;
	}
	
	main {
		padding-top: 1px;
	}
	
	h2 {
		padding: 0.5em 0 0 0.5em;
	    margin-right: 0.5em;
	}
	
	details {
		padding-left: 0;
		padding-right: 0;
	}
	
	#heroroad {
		background-image: none;
		height: auto;
	}

	#heromugs {
		background-image: none;
		height: auto;
	}

	#heroguitar {
		background-image: none;
		height: auto;
	}
	
	.floatright { display: none; }
	
	.floatleft {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#mobile { display: inline; }
	#desktop { display: none; }
}
